.orders {
    &__block {
        background: #F7DD85;
        border: 3px solid rgba(254, 168, 64, 0.3);
        box-shadow: 0px 70px 60px -60px #CCAD86, inset 0px -16px 29px rgba(151, 113, 65, 0.2), inset 0px 10px 20px rgba(255, 255, 255, 0.15);
        border-radius: vw(30);
        padding: vw(40) vw(60);
        display: flex;
        justify-content: space-between;
    }
}
.isTablet, .isMobile {
    .orders {
        &__block {
            border-radius: 20px;
        }
    }
}