@keyframes twisting {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.subtract {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    &__item {
        position: absolute;
        z-index: 0;
        pointer-events: none;
    }
    &--big {
        left: vw(-325);
        top: vw(-212);
        width: vw(679);
        height: vw(709);
        animation: 30s linear 0s normal none infinite running twisting;
    }
    &--small {
        right: vw(-137);
        bottom: vw(13);
        width: vw(419);
        height: vw(437);
        animation: 15s linear 0s normal none infinite running twisting;
    }
    img.rot {
        width: 100px;
      }
}
.isTablet, .isMobile {
    .subtract {
        &--big {
            width: 274px;
            height: 286px;
            top: -111px;
            left: -122px;
        }
        &--small {
            width: 186px;
            height: 194px;
            right: -70px;
            bottom: -73px;
        }
    }
}