<div class="cards">
    <div class="cards__item">
        <div class="cards__item--l-side">
            <h1 class="cards__item--title">Название в три слова 
                и максимум 2 строки</h1>
            <div class="cards__item--text">Белая футболка для занятий спортом (с принтом школы Абсолют)Белая футболка для занятий спортом (с принтом школы Абсолют)</div>
            <form action="">
                <div class="cards__item--colors">
                    <label class="checkbox check_standart">
                        <input class="custom-checkbox" type="radio" value="Серый">
                        <div>Серый</div>
                    </label>
                    <label class="checkbox check_standart">
                        <input class="custom-checkbox" type="radio" value="Серый">
                        <div>Серый</div>
                    </label>
                    <label class="checkbox check_standart">
                        <input class="custom-checkbox" type="radio" value="Серый">
                        <div>Серый</div>
                    </label>
                    <label class="checkbox check_standart">
                        <input class="custom-checkbox" type="radio" value="Серый">
                        <div>Серый</div>
                    </label>
                    <label class="checkbox check_standart">
                        <input class="custom-checkbox" type="radio" value="Серый">
                        <div>Серый</div>
                    </label>
                    <label class="checkbox check_standart">
                        <input class="custom-checkbox" type="radio" value="Серый">
                        <div>Серый</div>
                    </label>
                    <label class="checkbox check_standart">
                        <input class="custom-checkbox" type="radio" value="Серый">
                        <div>Серый</div>
                    </label>
                    <label class="checkbox check_standart">
                        <input class="custom-checkbox" type="radio" value="Серый">
                        <div>Серый</div>
                    </label>
                    <label class="checkbox check_standart">
                        <input class="custom-checkbox" type="radio" value="Серый">
                        <div>Серый</div>
                    </label>
                </div>
                <div class="cards__item--size">
                    <label class="checkbox check_size">
                        <input class="custom-checkbox" type="radio" value="XXL">
                        <div>XXL</div>
                    </label>
                    <label class="checkbox check_size">
                        <input class="custom-checkbox" type="radio" value="XXL">
                        <div>XL</div>
                    </label>
                    <label class="checkbox check_size">
                        <input class="custom-checkbox" type="radio" value="XXL">
                        <div>L</div>
                    </label>
                    <label class="checkbox check_size">
                        <input class="custom-checkbox" type="radio" value="XXL">
                        <div>M</div>
                    </label>
                    <label class="checkbox check_size">
                        <input class="custom-checkbox" type="radio" value="XXL">
                        <div>S</div>
                    </label>
                    <label class="checkbox check_size">
                        <input class="custom-checkbox" type="radio" value="XXL">
                        <div>XS</div>
                    </label>
                </div>
                @@include('../../components/typografy/prices/index.html', {
                    "type" : "price",
                    "text" : "14 500"
                })
                @@include('../../components/buttons/buttons.html', {
                    "type" : "cart",
                    "text" : "Добавить"
                })
            </form>
        </div>
        <div class="cards__item-r-side">
            <div class="glide cards__slider--js">
                <div class="glide__track" data-glide-el="track">
                  <ul class="glide__slides">
                    @@for (i=0; i < 5; i++) {
                        <li class="glide__slide">
                            <img src="@img/shirt.png" alt="">
                        </li>
                    }
                  </ul>
                </div>
                <div class="glide__bullets" data-glide-el="controls[nav]">
                    @@for (i=0; i < 5; i++) {
                        <button class="glide__bullet" data-glide-dir="=`+ i +`"><img src="@img/shirt.png" alt=""></button>
                    }
                </div>
                <div data-glide-el="controls">
                    <button data-glide-dir="<">Start</button>
                    <button data-glide-dir=">">End</button>
                </div>
            </div>
        </div>
    </div>
</div>