<div class="cards">
    <div class="cards__item" v-for="product in cards.products" :key="product.index">
        <div class="cards__item--l-side">
            <h1 class="cards__item--title">{{ product.name }}</h1>
            <div class="cards__item--text">{{ product.description }}</div>
            <form action="">
                <div class="cards__item--color-item">
                    <div class="cards__item--colors">
                        <label class="checkbox check_standart" v-for="color in product.colors" :key="color.index" :style="`--background: ${ color.color_code };`">
                            <input class="custom-checkbox" type="radio" :value=" color.color_name ">
                            <div>{{ color.color_name }}</div>
                        </label>
                    </div>
                </div>
                <div class="cards__item--size">
                    <label class="checkbox check_size">
                        <input class="custom-checkbox" type="radio" value="XXL">
                        <div>XXL</div>
                    </label>
                </div>
                <div class="cards__item--buttons">
                    @@include('../../components/typografy/prices/index.html', {
                        "type" : "price",
                        "text" : "14 500"
                    })
                    @@include('../../components/buttons/buttons.html', {
                        "type" : "cart",
                        "text" : "Добавить"
                    })
                </div>
            </form>
        </div>
        <div class="cards__item--r-side">
            <div class="glide cards__slider--js">
                <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <li class="glide__slide" v-for="image in product.images" :key="image.index">
                        <img :src="`@img/${image}`" alt="">
                    </li>
                </ul>
                </div>
                <div class="glide__bullets" data-glide-el="controls[nav]">
                    <div v-for="(image,key) in product.images" :key="key" :data-glide-dir="`=${key}`">
                        <img :src="`@img/${image}`" alt="">
                    </div>
                </div>
                <div class="glide__controls" data-glide-el="controls">
                    <div data-glide-dir="<">
                        @@include('../../components/buttons/buttons.html', {
                            "type" : "slider_next",
                            "text" : "/"
                        })
                    </div>
                    <div data-glide-dir=">">
                        @@include('../../components/buttons/buttons.html', {
                            "type" : "slider_next",
                            "text" : "/"
                        })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cards__more">
        @@include('../../components/buttons/buttons.html', {
            "type" : "more",
            "text" : "показать еще"
        })
    </div>
</div>