.buttons {
    padding: vw(50);
}
.button {
    &--green {
        position: relative;
        width: max-content;
        text-decoration: none;
        span {
            background: #85A832;
            border-radius: 10px 44px 13px 7px;
            padding: 36px 32px;
            display: block;
            font-family: 'Jingleberry', serif;
            font-style: normal;
            font-weight: 900;
            font-size: vw(25);
            text-transform: uppercase;
            color: #fff;
            cursor: pointer;
            -webkit-clip-path: polygon(3% 0%, 85% 9%, 100% 95%, 0% 100%);
            clip-path: polygon(3% 0%, 85% 9%, 100% 95%, 0% 99%);
            transition: all .3s ease-out;
        }
        &:before {
            content: '';
            top: 0;
            left: 0;
            right: 0;
            position: absolute;
            background: #6A8626;
            bottom: -9px;
            -webkit-clip-path: polygon(3% 0%, 85% 9%, 100% 95%, 0% 100%);
            clip-path: polygon(3% 0%, 85% 9%, 100% 95%, 0% 99%);
            z-index: -1;
            border-radius: 10px 44px 13px 7px;
            pointer-events: none;
            transition: all .3s ease-out;
        }
        &:hover {
            &:before {
                bottom: 0;
            }
        }
        &:active {
            span {
                background: #9DC739;
            }
            &:before {
                bottom: 0;
            }
        }
    }
    &--orange {
        position: relative;
        width: max-content;
        text-decoration: none;
        span {
            background: #E49535;
            border-radius: 18% 4px 4px 18%;
            padding: 19px 32px;
            display: block;
            font-family: 'Jingleberry', serif;
            font-style: normal;
            font-weight: 900;
            font-size: vw(25);
            text-transform: uppercase;
            color: #fff;
            cursor: pointer;
            -webkit-clip-path: polygon(0% 12%, 100% 0%, 100% 100%, 0% 90%);
            clip-path: polygon(0% 12%, 100% 0%, 100% 100%, 0% 90%);
            transition: all .3s ease-out;
        }
        &:before {
            content: '';
            top: 0;
            left: 0;
            right: 0;
            position: absolute;
            background: #AD7026;
            bottom: -9px;
            -webkit-clip-path: polygon(0% 12%, 100% 0%, 100% 100%, 0% 90%);
            clip-path: polygon(0% 12%, 100% 0%, 100% 100%, 0% 90%);
            z-index: -1;
            border-radius: 18% 4px 4px 18%;
            pointer-events: none;
            transition: all .3s ease-out;
        }
        &:hover {
            &:before {
                bottom: 0;
            }
        }
        &:active {
            span {
                background: #F8A846;
            }
            &:before {
                bottom: 0;
            }
        }
    }
    &--white {
        font-family: 'Gilroy', serif;
        font-style: normal;
        font-weight: 600;
        font-size: vw(20);
        color: #515151;
    }
}
body {
    background: #000;
}