@font-face {
	font-family: "Jingleberry";
	font-display: swap;
	src: url("../fonts/Jingleberry.woff2") format("woff2"), url("../fonts/Jingleberry.woff") format("woff"), url("../fonts/Jingleberry.ttf") format("ttf");
	font-weight: 400;
}
