.text_and_bg {
    padding: 20px;
}
h1 {
    font-family: 'Jingleberry', serif;
    font-style: normal;
    font-weight: 900;
    font-size: vw(70);
    line-height: 120%;
    color: #515151;
}
h2 {
    font-family: 'Jingleberry', serif;
    font-style: normal;
    font-weight: 900;
    font-size: vw(30);
    line-height: 120%;
    color: #515151;
}
h3 {
    font-family: 'Jingleberry', serif;
    font-style: normal;
    font-weight: 900;
    font-size: vw(20);
    line-height: 120%;
    color: #515151;
}
h4 {
    font-family: 'Jingleberry', serif;
    font-style: normal;
    font-weight: 900;
    font-size: vw(14);
    line-height: 120%;
    color: #515151;
}
.price_all {
    svg {
        width: vw(40);
    }
    font-family: 'Jingleberry', serif;
    font-style: normal;
    font-weight: 900;
    font-size: vw(120);
    line-height: 120%;
    color: #424242;
}
.prod_amount {
    text-align: center;
    font-family: 'Gilroy', serif;
    font-style: normal;
    font-weight: 600;
    font-size: vw(20);
    color: #FFFFFF;
    background: #85A833;
    border: vw(4) solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px vw(17) vw(30) rgba(133, 168, 51, 0.52);
    border-radius: 90px;
    width: max-content;
    padding: vw(10.5) vw(26);
}
.org_bg {
    background: #F7DD85;
    border: 3px solid rgba(254, 168, 64, 0.3);
    box-shadow: 0px 70px 60px -60px #CCAD86, inset 0px -16px 29px rgba(151, 113, 65, 0.2), inset 0px 10px 20px rgba(255, 255, 255, 0.15);
    border-radius: vw(30);
}
.input_orange {
    position: relative;
    max-width: 370px;
    width: 100%;
    label {
        position: relative;
        z-index: 1;
    }
    input {
        outline: none;
        background: #fff1e0;
        border-radius: 5px 19% 19% 14%;
        text-align: center;
        width: 100%;
        padding: 30px 10px;
        border: 0;
        position: relative;
        z-index: 1;
        color: #424242;
        font-family: 'Gilroy', serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 160%;
        -webkit-clip-path: polygon(0% 0%, 100% 15%, 100% 86%, 1% 94%);
        clip-path: polygon(0% 0%, 100% 15%, 100% 86%, 1% 94%);
        &::placeholder {
            font-family: 'Gilroy', serif;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 160%;
            color: #919191;
        }
        &:hover, &:active, &:focus {
            &::placeholder {
                color: #424242;
            }
        }
    }
    &:before {
        content: '';
        position: absolute;
        left: 0;
        border-radius: 5px 19% 19% 14%;
        right: 0;
        background: #6A8626;
        bottom: -9px;
        width: 100%;
        height: 100%;
        z-index: -1;
        -webkit-clip-path: polygon(0% 0%, 100% 15%, 100% 86%, 1% 94%);
        clip-path: polygon(0% 0%, 100% 15%, 100% 86%, 1% 94%);
    }
    &.eror {
        &:before {
            top: -3px;
            left: -2px;
            right: -2px;
            bottom: -9px;
            background: #FB1E42;
            width: calc(100% + 4px);
            height: calc(100% + 12px);
        }
        input {
            color:#FB1E42;
            &::placeholder {
                color:#FB1E42;
            }
        }
    }
}
.input_white {
    position: relative;
    max-width: 370px;
    width: 100%;
    label {
        position: relative;
        z-index: 1;
    }
    input {
        outline: none;
        background: #fff;
        border-radius: 5px 19% 19% 14%;
        text-align: center;
        width: 100%;
        padding: 30px 10px;
        border: 0;
        position: relative;
        z-index: 1;
        color: #424242;
        font-family: 'Gilroy', serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 160%;
        -webkit-clip-path: polygon(0% 0%, 100% 15%, 100% 86%, 1% 94%);
        clip-path: polygon(0% 0%, 100% 15%, 100% 86%, 1% 94%);
        &::placeholder {
            font-family: 'Gilroy', serif;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 160%;
            color: #919191;
        }
        &:hover, &:active, &:focus {
            &::placeholder {
                color: #424242;
            }
        }
    }
    &:before {
        content: '';
        position: absolute;
        left: 0;
        border-radius: 5px 19% 19% 14%;
        right: 0;
        background: #6A8626;
        bottom: -9px;
        width: 100%;
        height: 100%;
        z-index: -1;
        -webkit-clip-path: polygon(0% 0%, 100% 15%, 100% 86%, 1% 94%);
        clip-path: polygon(0% 0%, 100% 15%, 100% 86%, 1% 94%);
    }
    &.eror {
        &:before {
            top: -3px;
            left: -2px;
            right: -2px;
            bottom: -9px;
            background: #FB1E42;
            width: calc(100% + 4px);
            height: calc(100% + 12px);
        }
        input {
            color:#FB1E42;
            background: rgba(255, 255, 255, 0.9);
            &::placeholder {
                color:#FB1E42;
            }
        }
    }
}
.check_str {
    font-size: 0;
    .custom-checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    /* для элемента label, связанного с .custom-checkbox */
    .custom-checkbox+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        cursor: pointer;
    }
    /* создание в label псевдоэлемента before со следующими стилями */
    .custom-checkbox+label::before {
    content: '';
        display: inline-block;
        width: 50px;
        height: 50px;
        transition: all .3s ease-out;
        background: radial-gradient(105.9% 76% at 82% 24%, rgba(255, 255, 255, 0.4) 7.19%, rgba(207, 207, 207, 0.4) 59.08%, rgba(66, 66, 66, 0.4) 100%), #FFFFFF;
        border-radius: 10px;
        border: 2px solid #959595;
    }
    /* стили для чекбокса, находящегося в состоянии checked */
    .custom-checkbox:checked+label::before {
        border: 0;
        box-shadow: 0px 0px 0 5px rgba(21, 69, 102, 0.6);
    }
}
.check_size {
    font-family: 'Jingleberry', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 110%;
    transition: all .3s ease-out;
    text-transform: uppercase;
    color: #424242;
    .custom-checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    /* для элемента label, связанного с .custom-checkbox */
    .custom-checkbox+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        cursor: pointer;
        position: relative;
    }
    /* создание в label псевдоэлемента before со следующими стилями */
    .custom-checkbox+label::before {
        content: '';
        display: inline-block;
        height: 15px;
        width: 50px;
        left: 50%;
        margin-left: -25px;
        position: absolute;
        transition: all .3s ease-out;
        right: 0;
        bottom: -18px;
        background: url("data:image/svg+xml,%3Csvg width='54' height='13' viewBox='0 0 54 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.131 1.5L0.000247955 0V4.34586L16.8195 5.99971L20.4466 10.1371L39.836 6.49971L54 12.5V8L50.459 7L40.7213 2.5L24.7868 5.49971L22.131 1.5Z' fill='%23E49535'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
        opacity: 0;
    }
    /* стили для чекбокса, находящегося в состоянии checked */
    .custom-checkbox:checked+label::before {
        opacity: 1;
    }
    .custom-checkbox:checked+label {
        font-size: 35px;
    }
}
@media all and (max-width: 1023px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 16px;
    }
    h3 {
        font-size: 14px;
    }
    h4 {
        font-size: 12px;
    }
    .price_all {
        svg {
            width: 26px;
            position: relative;
            bottom: -6px;
        }
        font-size: 50px;
    }
    .prod_amount {
        font-size: 14px;
        padding: 6px 18px;
        border: 2px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0px 6px 20px rgba(133, 168, 51, 0.3);
    }
    .org_bg {
        border-radius: 20px;
    }
    .input_orange {
        input {
            padding: 14.5px 10px;
            font-size: 14px;
            &::placeholder {
                font-size: 14px;
            }
        }
    }
    .check_str {
        .custom-checkbox+label::before {
            width: 40px;
            height: 40px;
        }
    }
    .check_size {
        font-size: 20px;
        .custom-checkbox:checked+label {
            font-size: 30px;
        }
    }
}